{% extends 'homeapp/home.html' %}
{% load static %}
{% block title %}
Resume
{% endblock %}


{% block content %}
<main id="main">

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Resume</h2>
          <p>A skilled and reliable professional with more than Five years of experience and proven knowledge in software development, microservice and Data Analytics.</p>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <h3 class="resume-title">Sumary</h3>
            <div class="resume-item pb-0">
              <h4>Punam Sonawane</h4>
              <p><em> </em></p>
              <p>
              <ul>
                <li>47 Prairie rose circle, Brampton ,ON Canada.</li>
                <li>646 336 0966</li>
                <li>sonawanepunam27@gmail.com</li>
              </ul>
              </p>
            </div>

            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>Certificate Course in Data Analytics</h4>
              <h5>2019 - 2020</h5>
              <p><em>University of Toronto, Canada</em></p>

            </div>
            <div class="resume-item">
              <h4>Master’s in Computer Application</h4>
              <h5>2006 - 2009</h5>
              <p><em>Mumbai University, India  </em></p>

            </div>
            <div class="resume-item">
              <h4>Bachelor’s in Computer Science</h4>
              <h5>2006 - 2008</h5>
              <p><em>North Maharashtra University, India </em></p>

            </div>

            <h3 class="resume-title">Certification</h3>
            <div class="resume-item">
              <h4>Alteryx Designer Advanced Certification</h4>
              <h5>Nov 2020</h5>
              <p><a href="">Credential URL</a></p>

            </div>
            <div class="resume-item">
              <h4>Alteryx Designer Core Certification</h4>
              <h5>Sep 2020</h5>
              <p><a href="">Credential URL</a></p>

            </div>
            <div class="resume-item">
              <h4>Microsoft Transact-SQL Certification</h4>
              <h5>Feb 2020</h5>
              <p><a href="https://courses.edx.org/certificates/c9979c55d15542b89c2e6e5fc80300eb">Credential URL</a></p>

            </div>

          </div>
          <div class="col-lg-6">
            <h3 class="resume-title">Professional Experience</h3>
            <div class="resume-item">
              <h4>Software Developer</h4>
              <h5>2020 - 2021</h5>
              <p><em>Hatchways</em></p>
              <p>
              <ul>
                <li>Developed high performance RestFul APIs to serve machine learning models in production using Flask / Django rest and Tensorflow serving</li>
                <li>Worked on machine learning process work flows using micro services </li>
                <li>Worked on UI facing web services like file-browser, user management, authentication / authorization.</li>
                <li>Developed api for on-demand one-click deployment of applications and services</li>
                <li>Worked on file browser api on top of google cloud storage and AWS s3 using Pubsub , SNS with HTTP endpoint subscription using python client libraries.</li>
                <li>Developed Video streaming services using python opencv, asyncio and kafka.</li>
              </ul>
              </p>
            </div>
            <div class="resume-item">
              <h4>Software developer</h4>
              <h5>2018 - 2019</h5>
              <p><em>Freelancer</em></p>
              <p>
              <ul>
                <li>Developed e-comerse website, personal portfolio for profetionals.</li>
                <li>Developed high performance RestFul APIs using Flask / Django rest framework</li>
                <li>Recommended and consulted with clients on the most appropriate graphic design</li>
                <li>Worked on file browser api on top of google cloud storage and AWS s3 </li>
              </ul>
              </p>
            </div>
            <div class="resume-item">
              <h4>QA Analyst</h4>
              <h5>2012 - 2015</h5>
              <p><em>SCI Logistics (Rogers)	</em></p>
              <p>
              <ul>
                <li>Developed and executed test plans, test cases and test scripts utilizing use cases, design specifications and product requirements.</li>
                <li>Performed testing on various reports in Word, PDF and excel formats</li>
                <li>Used Advanced SQL to query, analyze and validate the underlying data in various tables</li>
                <li>Reported found issues and tracked them in the HP QC Coordinated with the development team, support team, Operational Team and Business analysts to deliver the project </li>

              </ul>
              </p>
            </div>
            <div class="resume-item">
              <h4>Technical Support Analyst </h4>
              <h5>2009 - 2011</h5>
              <p><em>Eminence Pvt. Ltd (Now Fountainhead Infosolutions Pvt. Ltd)</em></p>
              <p>
              <ul>
                <li>Responsible for providing technical support for all end-users of Eminence by troubleshooting, triage, and management of the incident life cycle at the enterprise level</li>
                <li>Assigned incidents to different groups and collaborated with the end-user to ensure that the solution is applicable </li>
                <li>Normalized database, views, stored procedures, and data domains</li>
              </ul>
              </p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Resume Section -->

  </main><!-- End #main -->
{% endblock %}
